
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    padding: 10px;
    color: #4267b2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header a {
    color: #4267b2;
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}

.search-input {
    padding: 10px;
    width: calc(100% - 350px);
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #f0f2f5;
    color: #333;
    margin-left: 20px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.search-input:focus {
    border-color: #4267b2;
    box-shadow: 0 0 5px rgba(66, 103, 178, 0.5);
    outline: none;
}

.navbar {
    width: 100%;
  }
  
#navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: #4267b2;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
}
  
.navbar-nav {
    display: flex; 
    flex-direction: row;
    align-items: center; 
}
  
.nav-item {
    margin-right: 20px; 
}
  
.nav-link {
    color: #fff; 
    text-decoration: none; 
    transition: color 0.2s ease; 
}
  
.nav-link:hover {
    color: #ccc; 
}
  
.navbar-toggler {
    border: none; 
    outline: none; 
}
  
.navbar-toggler-icon {
    font-size: 1.5rem;
    color: #fff; 
}

.nav a {
    margin-right: 15px;
    color: #4267b2;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #29487d;
    text-decoration: underline;
}

.profile-pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-pic:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sidebar {
    background-color: white;
    padding: 5px;
    position: fixed;
    top: 80px;
    bottom: 0;
    width: 200px;
}

.sidebar a {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    margin-bottom: 8px;
    font-weight: 500;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar a:hover {
    background-color: #4267b2;
    color: white;
}


.content {
    margin-left: 260px;
    padding: 20px;
}

.new-post, .post {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.new-post h2, .post h2 {
    font-size: 22px;
    color: #4267b2;
}

.post-textarea {
    width: 90%;
    height: 100px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f0f2f5;
    resize: none;
    font-size: 16px;
    transition: border 0.3s ease;
}

.post-textarea:focus {
    border-color: #4267b2;
    outline: none;
}

.post-option {
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f2f5;
    color: #666;
    margin-right: 10px;
    cursor: pointer;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #4267b2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-btn:hover {
    background-color: #29487d;
    transform: scale(1.05);
}


.post-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.action-btn {
    background-color: #f0f2f5;
    color: #666;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.action-btn:hover {
    background-color: #abb4c5;
    transform: scale(1.05);
}

.post-image {
    width: 700px;
    height: auto;
    max-width: 700px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.post-image:hover {
    transform: scale(1.05);
}

footer {
    background-color: #4267b2;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-left: 220px;
    margin-top: 5px;
    padding: 20px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-user {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.edit-profile-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4267b2;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.edit-profile-btn:hover, .submit-btn-user:hover {
    transform: scale(1.1);
}

.info {
    margin-left: 220px;
    background-color: #fff;
    padding: 15px; 
    border-radius: 5px; 
    margin-bottom: 50px;
}

.carousel-section{
    margin-left: 220px;
    background-color:rgb(126, 126, 126)f;
}

.carousel-inner img {
    max-width: 600px; 
    width: auto;
    height: 600px;
    margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 50%; 
    width: 40px; 
    height: 40px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(128, 128, 128, 1); 
}


.section-heading {
    color: #4267b2; 
    margin-top: 0;
}

.form-label {
    color: #666;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f0f2f5;
    color: #333;
    width: 720px;
    margin-bottom: 15px;
}

.form-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f0f2f5;
    color: #333;
    width: 700px;
}

.submit-btn-user {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4267b2;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.section-heading {
    color: #4267b2;
    margin-top: 0;
}

.description-detail {
    margin: 0 0 10px 0px; 
    color: #666;
}

.description {
    margin-left: 220px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.description-list {
    margin: 0;
    padding: 0;
}

.description-term {
    font-weight: bold;
    color: #333;
}

.Hobbies {
    margin-left: 220px; 
    background-color: #fff; 
    padding: 15px; 
    border-radius: 5px; 
    margin-bottom: 50px;
}

.Movies {
    margin-left: 220px; 
    background-color: #fff; 
    padding: 15px; 
    border-radius: 5px; 
    margin-bottom: 50px;
}

.Quotes {
    margin-left: 220px; 
    background-color: #fff; 
    padding: 15px; 
    border-radius: 5px; 
    margin-bottom: 50px;
}

.quote {
    font-style: italic; 
    color: #555;
}

.Books {
    margin-left: 220px; 
    background-color: #fff; 
    padding: 15px; 
    border-radius: 5px; 
    margin-bottom: 50px;
}

#current-time {
    margin-top: 20px;
    padding: 15px;
    background-color: #e9f7fd;
    border: 1px solid #007bff;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    color: #007bff;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#current-time:hover {
    background-color: #d0e8ff;
}

@media (max-width: 768px) {
    #current-time {
        font-size: 16px;
        padding: 10px;
    }
}

.bg-toggle {
    margin-top: 160px;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.bg-label {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

input[type="checkbox"] {
    appearance: none;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

input[type="checkbox"]:checked {
    background-color: #4caf50;
}

input[type="checkbox"]:checked::before {
    transform: translateX(25px);
}

.bg-toggle:hover {
    background-color: #e0e0e0;
}

#colorBtn {
    background-color: #4267b2; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #colorBtn:hover {
    background-color: #2c4475; 
  }

/* Медиазапрос для устройств с шириной экрана до 768px */
@media (max-width: 768px) {
    .sidebar {
        display: block; /* Показываем sidebar на планшетах */
        width: 100%;
        position: relative;
        margin-bottom: 20px;
    }

    .content {
        margin-left: 0;
        padding: 10px;
    }

    .post-image {
        width: 100%; /* Изменяем размер изображений */
    }

    .profile-pic {
        height: 30px;
    }

    .post-actions {
        flex-direction: column;
    }

    .new-post h2, .post h2 {
        font-size: 18px;
    }

    .submit-btn {
        width: 100%;
        padding: 10px;
    }

    footer {
        font-size: 12px;
        padding: 10px;
    }
}

/* Медиазапрос для устройств с шириной экрана до 576px */
@media (max-width: 576px) {
    .navbar-brand {
        font-size: 20px;
    }

    .navbar-collapse {
        text-align: center;
    }

    .post h2 {
        font-size: 16px;
    }

    .post-image {
        width: 100%;
        max-width: 100%;
    }
}
















